<p>Hello Team,</p>

<p>There is one risk added in your project <%= @project_name %>
  with following details
</p>


<p><%= l(:field_risk_description) %> : <%= @risk.risk_description %></p>
<p><%= l(:field_risk_category) %> : <%= @risk.risk_category %></p>
<p><%= l(:field_source) %> : <%= @risk.source %></p>
<p><%= l(:field_probability) %> : <%= @risk.probability %></p>
<p><%= l(:field_impact) %> : <%= @risk.impact %></p>
<p><%= l(:field_exposure) %>: <%= @risk.exposure %></p>
<p><%= l(:field_mitigation_plan) %> : <%= @risk.mitigation_plan %></p>
<p><%= l(:field_contingency_plan) %> : <%= @risk.contingency_plan %></p>
<p><%= l(:field_comment) %> : <%= @risk.comment %></p>

<p>Thanks & regrads</p>
<p><%= @risk_author %></p>

