<%= error_messages_for 'standard_and_guidline' %>

<div class="box tabular">
  <%= hidden_field_tag "back_url", params[:back_url] %>
  <%= hidden_field_tag "standard_and_guidline[project_id]", @project.id %>
  <p><%= f.text_field :document_name, :required => true, :size => 25 %></p>
  <p><%= f.text_field :source, :required => true, :size => 25 %></p>
  <p><%= f.text_field :version, :size => 25 %></p>
  <p><%= f.text_area :remarks, :rows => 5, cols: 5 %></p><br>
</div>
