<%# Mega Calendar plugin - Issue form enhancements %>
<%# This file adds time fields and styling to the standard Redmine issue form %>
<link rel='stylesheet' href='<%= Setting.plugin_mega_calendar['sub_path'] %>plugin_assets/mega_calendar/javascripts/datetimepicker/jquery.datetimepicker.css' />
<script src='<%= Setting.plugin_mega_calendar['sub_path'] %>plugin_assets/mega_calendar/javascripts/datetimepicker/build/jquery.datetimepicker.full.min.js'></script>
<style type="text/css">
  #issue_subject{
    width: 62%;
  }
  input#time_begin {
    width: 46%;
  }

  #issue-form input#time_begin {
    width: 37%;
  }

  label.private-check {
      font-weight: 600;
      vertical-align: middle;
  }
  label.private-check span {
      display: inline-block;
      border: 1px solid #ccc;
      background-color: #fff;
      width: 20px;
      height: 20px;
      vertical-align: middle;
      position: relative;
      border-radius: 2px;
  }
  label.private-check span:after {
      display: block;
      width: 4px;
      height: 10px;
      border-right: 2px solid #d64a38;
      border-bottom: 2px solid #d64a38;
      content: '';
      transform: rotate(45deg);
      position: absolute;
      top: 3px;
      left: 7px;
      opacity: 0;
  }

  label.private-check input[type="checkbox"]{
    opacity: 0;
  }
  label.private-check input[type="checkbox"]:checked  + span:after{
    opacity: 1;
  }

  .mega-calendar-time-fields {
    margin-top: 10px;
  }
  
  .mega-calendar-time-fields label {
    font-weight: bold;
    margin-right: 10px;
  }
  
  .mega-calendar-time-fields input {
    margin-right: 15px;
  }
</style>

<%= labelled_fields_for :issue, @issue do |f| %>
<%= call_hook(:view_issues_form_details_top, { :issue => @issue, :form => f }) %>
<%= hidden_field_tag 'form_update_triggered_by', '' %>
<%= hidden_field_tag 'back_url', params[:back_url], :id => nil if params[:back_url].present? %>

<% if @issue.safe_attribute? 'is_private' %>
<p id="issue_is_private_wrap">
  <%= f.check_box :is_private, :no_label => true %><label class="inline" for="issue_is_private" id="issue_is_private_label"><%= l(:field_is_private) %></label>
</p>
<% end %>

  <% projects = projects_for_select(@issue) %>
  <% if (@issue.safe_attribute?('project_id') || @issue.project_id_changed?) && (@project.nil? || projects.length > 1 || @issue.copy?) %>
  <p><%= f.select :project_id, project_tree_options_for_select(projects, :selected => @issue.project), {:required => true},
                  :onchange => "updateIssueFrom('#{escape_javascript update_issue_form_path(@project, @issue)}', this)" %></p>
  <% end %>

  <% if @issue.safe_attribute?('tracker_id') || (@issue.persisted? && @issue.tracker_id_changed?) %>
  <p>
    <%= f.select :tracker_id, trackers_options_for_select(@issue), {:required => true},
                 :onchange => "updateIssueFrom('#{escape_javascript update_issue_form_path(@project, @issue)}', this)",
                 :title => @issue.tracker.description %>
    <%= content_tag 'a', sprite_icon('help', l(:label_open_trackers_description)), :class => 'icon-only icon-help', :title => l(:label_open_trackers_description), :onclick => "showModal('trackers_description', '500px'); return false;", :href => '#' if trackers_for_select(@issue).any? {|t| t.description.present? } %>
  </p>
    <%= render partial: 'issues/trackers_description', locals: {trackers: trackers_for_select(@issue)} %>
  <% end %>

  <% if @issue.safe_attribute? 'subject' %>
  <p><%= f.text_field :subject, :size => 80, :maxlength => 255, :required => true %></p>
  <% end %>

  <% if @issue.safe_attribute? 'description' %>
  <p>
    <%= f.label_for_field :description, :required => @issue.required_attribute?('description') %>
    <%= content_tag 'span', :id => "issue_description_and_toolbar", :style => (@issue.new_record? ? nil : 'display:none') do %>
      <%= f.text_area :description, :cols => 60, :accesskey => accesskey(:edit), :class => 'wiki-edit',
                     :rows => [[10, @issue.description.to_s.length / 50].max, 20].min,
                     :data => {
                         :auto_complete => true,
                     },
                     :no_label => true %>
    <% end %>
    <%= link_to_function content_tag(:span, sprite_icon('edit', l(:button_edit)), :class => 'icon icon-edit'), '$(this).hide(); $("#issue_description_and_toolbar").show()' unless @issue.new_record? %>
  </p>
  <%= wikitoolbar_for 'issue_description' %>
  <% end %>

  <div id="attributes" class="attributes">
    <%= render :partial => 'issues/attributes' %>
  </div>

  <%# Time fields removed as per user request %>

  <%= call_hook(:view_issues_form_details_bottom, { :issue => @issue, :form => f }) %>

  <p>
    <label><%= l(:label_attachment_plural) %></label>
    <%= render :partial => 'attachments/form', :locals => {:container => @issue} %>
  </p>

<% if @issue.safe_attribute? 'description' %>
  <%= wikitoolbar_for 'issue_description', preview_issue_path(:project_id => @issue.project, :issue_id => @issue.id) %>
<% end %>

<% end %>

<% heads_for_wiki_formatter %>

<%= javascript_tag do %>
$(document).ready(function(){
  $("#issue_tracker_id, #issue_status_id").each(function(){
    $(this).val($(this).find("option[selected=selected]").val());
  });
});
<% end %>